<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dogo.dao.CrjLstdYwFjxxMapper" >
  <resultMap id="BaseResultMap" type="dogo.model.CrjLstdYwFjxx" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="YWBH" property="ywbh" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, YWBH, FILE_TYPE, FILE_PATH, CREATE_DATE
  </sql>
  <select id="selectByYwbh" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CRJ_LSTD_YW_FJXX
    where YWBH = #{ywbh,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="dogo.model.CrjLstdYwFjxx" >
    insert into CRJ_LSTD_YW_FJXX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ywbh != null" >
        YWBH,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null" >
        #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="dogo.model.CrjLstdYwFjxx" >
    insert into CRJ_LSTD_YW_FJXX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ywbh != null" >
        YWBH,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ywbh != null" >
        #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>