@import url('css/reset.css');
@import url('css/common.css');
html {
	overflow:hidden;
}
body {
	background: #ffffff url('images/login/login.gif') repeat-x;
	overflow:hidden;
}
.loginPanel {
	width:503px;
	height:360px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-166px;
	margin-left:-252px;
	background: #ffffff url('images/login/loginPanel.jpg') no-repeat;
}
.loginPanel .btn-area {
	position:absolute;
	top:196px;
	left:180px;
}
.loginPanel .btn-area input {
	background: #ADD9FE url('images/login/login-btn.gif') no-repeat;
	color: #005A87;
	display: block;
	float: left;
	width:68px;
	height:28px;
	line-height:28px;
	border:none;
	margin-right:24px;
}
.loginPanel .txta {
	position:absolute;
	top:110px;
	left:180px;
	width:230px;
}
.loginPanel .txta input {
	border:1px solid #3399CC;
	height:24px;
	line-height:24px;
	padding:0 3px;
	width:220px;
	margin-bottom:14px;
}

